

.popup-window {
  position: fixed;
  left: 50%;
  right: 50%;
  translate: -50% 50%;
  width: 50vw;
  height: 50vh;
  background-color: white;
  border-radius: 28px;
  box-shadow: #9b3fe5 2px 2px 10px;
  padding: 1em;
  overflow: hidden;
}
