<div class="w-full h-full flex flex-col items-center " >

  <div class="h-[10%] w-full flex flex-row items-center justify-center p-3 mt-5">
    <div>
      <button class="p-2 mx-2 text-xl bg bg-purple-500 hover:bg-purple-700 text-white rounded-2xl w-40 text-center"
              (click)="showTagebuchForm()">
        + Anlegen
      </button>
    </div>
  </div>

  <app-journal-table class="flex justify-center" [imageViewer]="imageViewer!" (editFormData)="setPageToEdit($event)"  [diplayCreationForm]="showCreationForm">

  </app-journal-table>

  <div class="w-full h-full fixed z-15" [hidden]="!showCreationForm">
    <dialog #dialogElement>
      <app-journal-dialog
        [pageToEditData]="this.dataForEditForm"
        (formSubmit)="submitForm($event)"
        (closeForm)="closeForm()"
      >
      </app-journal-dialog>
    </dialog>
  </div>
  <app-message-toaster class="fixed z-16 bottom-[50px] right-[50px]"
                       [responseStatus] ="responseStatus"
                       [hidden]="!showToast">
  </app-message-toaster>
  <app-image-viewer class="w-auto h-auto "#imageViewer></app-image-viewer>
</div>
